<section class="gallery">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNcw12fC_VK1FSFxgCtNFO3Kkxb7u0_6aPBA&usqp=CAU">
<div class="ccontent">
    <h1 style="color:red;">MY GALLERY</h1>
    <div class="flex">
    <marquee direction="right"><img src="assets/Jessa.jpeg"/></marquee>
   <marquee direction="left"><img src="assets/pic1.jpeg"/></marquee>
    </div>
    <div class="flex">
        <marquee direction="left"><img src="assets/pic2.jpeg"/></marquee>
       <marquee direction="right"><img src="assets/pic3.jpg"/></marquee>
        </div>
        
</div>
</section>
